<!DOCTYPE html>
<html>
<head>
  <title>Бокс</title>
   <meta charset="UTF-8">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <link rel="stylesheet" href="10.css">

  </head>

  <body>




    <nav class="navbar navbar-expand-lg">
      <a href="100.html" class="navbar-brand"><b style="font-size:33px;">FIGHTER</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a href="102.html" id="firsta">БОКС</a>
          </li>
          <li class="nav-item">
            <a href="103.html" class="nav-link">ММА</a>
          <li class="nav-item">
            <a href="101.html" class="nav-link">ВИДЕО</a>
          </li>
          <li class="nav-item dropdown">
            <a  href="104.html" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Авторизация
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="104.html">Войти</a>
              <a class="dropdown-item" href="104.html">Регистрация</a>
            </div>
          </li>
          <li class="nav-item">
            <a href="106.html" class="nav-link">БЛОГИ</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-dark" type="submit" style="color:red;">Search</button>
        </form>
      </div>
    </nav><br/>



    <!-- <div id="main">
      <div id="left">
        <div id="up">
          <p>9:39 9.12.2018</p>
          <p>Бокс</p>
        </div>
      </div>
      <div id="right">
        <p>Е.Игошен</p>
      </div>
    </div> -->

    <table border="0" width="700px" height="50px">
      <tr style="background-color:grey";>
        <td style="width:500px">17.12.2018</td>
        <td style="width:200px;">Иванов Иван</td>
      </tr>
      <tr>
        <td style="width:500px;"><h5>А Рокки-то не тот</h5>
          <p>В первом раунде боксёры начинают практически без разведки, «Канело» работает по корпусу, и одним из таких ударов ему удаётся отправить чемпиона на канвас.
            10-8 в пользу претендента. Во втором раунде картина продолжается, Альварес работает по корпусу, Филдинг же не пользуется размахом рук и принимает ближний
            бой, и снова оказывается на полу. 20-16 в пользу Альвареса.</p>
        </td>

        <td style="width:200px;"></td>
      </tr>
      <tr style="background-color:grey";>
        <td style="width:500px;">11.12.2018</td>
        <td style="width:200px;">Иванов Иван</td>
      </tr>
      <tr>
        <td style="width:500px;"><h5>Кевин Ли очень хотел подраться с Хабибом, но Яквинта его обломал</h5>
          <p>Ли и Яквинта дрались утром воскресенья. Кевин слишком много рубился в стойке вместо того, чтобы уводить соперника в борьбу. На руках Яквинта легко
            перебивал Ли: тот постоянно смещался под сильную правую руку Эла и раз за разом пропускал сильные удары. Ли выиграл два раунда, в которых перевел
            соперника на канвас и добился контроля, но в остальных лучше был Яквинта.</p>
        </td>
        <td style="width:200px;"></td>
      </tr>
      <tr style="background-color:grey";>
        <td style="width:500px;">01.12.2018</td>
        <td style="width:200px;">Иванов Иван</td>
      </tr>
      <tr>
        <td style="width:500px;"><h5>Самый странный чемпион по боксу: он побил рекорд Флойда, но у него даже нет инстаграма</h5>
          <p>Но только хардкорные фанаты бокса знают, что в этом году рекорд Мэйвезера побил малоизвестный боксер из Таиланда
             Ванхенг Менайотин. Он не просто дерется на каких-то подпольных турнирах: Ванхенг – обладатель престижного пояса WBC в минимальном весе.</p>
        </td>
        <td style="width:200px;"></td>
      </tr>
      <tr style="background-color:grey";>
        <td style="width:500px;">21.12.2018</td>
        <td style="width:200px;">Иванов Иван</td>
      </tr>
      <tr>
        <td style="width:500px;"><h5>HBO ушел из бокса из-за низких рейтингов. Но многие винят руководство канала</h5>
          <p>HBO попрощался c боксом буднично: без супербоев и фейерверков. В главном поединке турнира в Карсоне 9 декабря абсолютный чемпион в
            женском полусреднем весе Сесилия Брекхус уверенно разложила претендентку Александру Магдзяк-Лопес и сохранила титулы.</p>
        </td>
        <td style="width:200px;"></td>
      </tr>
      <tr style="background-color:grey";>
        <td style="width:500px;">07.11.2018</td>
        <td style="width:200px;">Иванов Иван</td>
      </tr>
      <tr>
        <td style="width:500px;"><h5>Стивенс – мощный нокаутер, но проиграл главные бои в жизни.</h5>
          <p>В 2015 году американцу назначили бой против Макса Холлоуэя. Это был отличный шанс приблизиться к бою за титул. Но «Благословенный»
            оказался сильнее Стивенса почти во всем. Джереми 7 раз за бой попытался провести тейкдаун, но так и не смог. Надежда на титул снова
            от него ускользнула.</p>
        </td>
        <td style="width:200px;"></td>
      </tr>



    </table>






    <!-- Footer -->
<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container">

      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="102.html">БОКС</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="103.html">ММА</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="101.html">Видео</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="104.html">Авторизация</a>
          </h6>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->
      <hr class="rgba-white-light" style="margin: 0 15%;">

      <!-- Grid row-->
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

        <!-- Grid column -->
        <div class="col-md-8 col-12 mt-5">
          <p style="line-height: 1.7rem">Авторское право (С) интернет-журнал Fighter.com. Все права на материалы, размещенные на сайте, охраняются в соответствии с законодательством, в том числе, об авторском праве и смежных правах. Использование материалов, размещенных на сайте, без ПРЕДВАРИТЕЛЬНОГО письменного согласия ЗАПРЕЩЕНО.</p>
          <p>© 2018 Copyright.</p>
            </div>
            <!-- Copyright -->

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

      <!-- Grid row-->
      <div class="row pb-3">

        <!-- Grid column -->
        <div class="col-md-12">

          <div class="mb-5 flex-center">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fa fa-facebook fa-lg white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fa fa-twitter fa-lg white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fa fa-google-plus fa-lg white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fa fa-linkedin fa-lg white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fa fa-instagram fa-lg white-text mr-4"> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
              <i class="fa fa-pinterest fa-lg white-text"> </i>
            </a>

          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Links -->


  </footer>
  <!-- Footer -->





  </body>


</html>
