{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Бокс</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="10.js"></script>
    <link rel="stylesheet" href="{% static 'css/10.css' %}">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>

  <body>





    <nav class="navbar navbar-expand-lg">
      <a href="main" class="navbar-brand"><b style="font-size:33px;">FIGHTER</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a href="boks" id="firsta">БОКС</a>
          </li>
          <li class="nav-item">
            <a href="mma" class="nav-link">ММА</a>
          <li class="nav-item">
            <a href="video" class="nav-link">ВИДЕО</a>
          </li>
          <li class="nav-item dropdown">
            <a  href="regist" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Авторизация
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="regist">Войти</a>
              <a class="dropdown-item" href="regist">Регистрация</a>
            </div>
          </li>
          <li class="nav-item">
            <a href="blog" class="nav-link">БЛОГИ</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-dark" type="submit" style="color:red;">Search</button>
        </form>
      </div>
    </nav><br/><br/>






    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-4">
        <h4 style="color: grey">НОВОСТИ БОКСА</h4>
      </div>
      <div class="col-5">
      </div>
    </div>



      <div id="accordeon">
        <div class="item1">
          <p>Аблайхан Хусаинов: «Боксерский мир суров, каждая ошибка может стоить карьеры»</p>
        </div>
        <div class="item2">
          <p>Корреспондент республиканского интернет-портала Sports.kz решил связаться с отечественным спортсменом, чтобы попробовать прояснить сложившуюся ситуацию,
            а также узнать о дальнейших планах боксера.
      </br>— Аблайхан, почему Вы и Eye of the Tiger Management прекратили сотрудничество?
      </br>— С канадским промоушном мы разошлись по обоюдному решению. Такая практика в мире бокса, когда боксер меняет обстановку, ставит новые цели,
      находит более перспективные контакты, — обычное дело.
      </br>— В каких отношениях Вы остались со своей бывшей промоутерской компанией и как можете оцените то время, которое провели под эгидой канадцев?
      </br>— Лично с Tiger Management мы сохранили хорошие отношения. С ними я достиг многих успехов и благодарен этой команде. Они — профессионалы своего дела.</p>
        </div>
        <div class="item1">
          <p>Усик назвал имя будущего абсолютного чемпиона мира.</p>
        </div>
        <div class="item2">
          <p>Абсолютный чемпион мира в первом тяжелом весе украинец Александр Усик (16-0, 12 КО) считает, что его друг Василий Ломаченко (12-1, 9 КО),
            который является чемпионом мира в легком весе по версиям WBA и WBO, сможет стать абсолютным чемпионом к концу 2019 года, сообщает Sporst.kz.</p>
        </div>
        <div class="item1">
          <p>Легендарный Льюис критикует Джошуа: Какой Фьюри? Какой Уайлдер? Его же оберегают.</p>
        </div>
        <div class="item2">
          <p>Легендарный Леннокс Льюис считает, что Уайлдеру и Фьюри нужно думать о реванше и не смотреть в сторону Джошуа: «Думаю, им надо договариваться о
            незамедлительном реванше. А Джошуа подождёт. Да и не хочет он с ними драться. Думаю, когда он посмотрел очную схватку Фьюри и Уайлдера, то подумал:
            "Нифига себе, да эти пацаны умеют драться!"» «Думаю, Фьюри и Уайлдер встретятся в реванше. А Джошуа? А что Джошуа? Он сделал свой выбор.
            И его выбор — не драться ни с Уайлдером, ни с Фьюри, — уверен Льюис. — Я не верю в то, что Джошуа согласится на бой в США. Ему создали в Англии зону
            комфорта, он не желает из неё выходить. Там его оберегают. Там его любят зрители».</p>
        </div>
        <div class="item1">
          <p>Эндрэд: Альварес — чемпион в трёх весах? Да кого он побил вообще?</p>
        </div>
        <div class="item2">
          <p>Эндрэд считает, что Канело не заслуживает фанфар. Об этом он рассказал в комментарии ESPN Deportes. «Ну вот ты вышел в ринг и завоевал этот титул...
            Но кого ты победил? Смита? GGG хорош, но уже стар. Но хорош. А кто такой Филдинг? — Вопрошает американец. — Ты не дрался ни с кем таким, за что люди
            признали бы тебя чемпионом трёх дивизионов. Ты же каких-то леваков побил... Пора бы уже сразиться с кем-то реально сильным. Со мной, например.
            Давай, в любое время к твоим услугам».</p>
        </div>
        <div class="item1">
          <p>Карлос Такам возвращается: в противниках — 100-процентный нокаутёр</p>
        </div>
        <div class="item2">
          <p>Камерунский обладатель паспорта Франции в супертяжёлом весе Карлос Такам (35-4-1, 27 КО), который с осени 2017 года провёл всего два боя — и оба проиграл
            досрочным образом, вернётся 22 декабря на ринге O2 Arena в столице Англии. В противники 38-летнему уроженцу Африки подобрали малоизвестного бодипанчера
            Сенада «GachineGun» Гаши (17-1, 17 КО). Рождённый в Косово, имеющий гражданство ФРГ и проживающий в Испании 28-летний албанский боксёр 17 боёв закончил в
            пределах двух первых раундов.</p>
        </div>
        <div class="item1">
          <p>О бое Жервонты Дэвиса и Абнера Мареса объявили официально.</p>
        </div>
        <div class="item2">
          <p>9 февраля в Карсоне (США) обладатель титула WBA Super во втором полулёгком весе (до 59 кг) американец Жервонта Дэвис (20-0, 19 КО) проведёт защиту против
            экс-чемпиона в трёх дивизионах мексиканца Абнера Мареса (31-3-1, 15 КО). Накануне о поединке, который будет транслировать Showtime, было объявлено
            официальною</p>
        </div>
        <div class="item1">
          <p>Элейдер Альварес vs Сергей Ковалёв II: в рамках шоу состоится ещё 2 титульных бояю</p>
        </div>
        <div class="item2">
          <p>Вакантный титул чемпиона мира по версии IBF в лёгком весе (до 61,2 кг) разыграют Ричард Комми (27-2, 24 КО) из Ганы и россиянин Иса Чаниев (13-1, 6 КО).
            Возвращается после травмы в ринг чемпион WBO в полулёгком весе (до 57,2, кг) мексиканец Оскар Вальдес (24-0, 19 КО). Ему предстоит встреча с безвестным
            боксёром из Италии Кармине Томмасоне (19-0, 5 КО).</p>
        </div>

    </div><br/><br/>




    <!-- Footer -->
<footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container">

      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="boks">БОКС</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="mma">ММА</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="video">Видео</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="regist">Авторизация</a>
          </h6>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->
      <hr class="rgba-white-light" style="margin: 0 15%;">

      <!-- Grid row-->
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

        <!-- Grid column -->
        <div class="col-md-8 col-12 mt-5">
          <p style="line-height: 1.7rem">Авторское право (С) интернет-журнал Fighter.com. Все права на материалы, размещенные на сайте, охраняются в соответствии с законодательством, в том числе, об авторском праве и смежных правах. Использование материалов, размещенных на сайте, без ПРЕДВАРИТЕЛЬНОГО письменного согласия ЗАПРЕЩЕНО.</p>
          <p>© 2018 Copyright.</p>
            </div>
            <!-- Copyright -->

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

      <!-- Grid row-->
      <div class="row pb-3">

        <!-- Grid column -->
        <div class="col-md-12">

          <div class="mb-5 flex-center">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fa fa-facebook fa-lg white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fa fa-twitter fa-lg white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fa fa-google-plus fa-lg white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fa fa-linkedin fa-lg white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fa fa-instagram fa-lg white-text mr-4"> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
              <i class="fa fa-pinterest fa-lg white-text"> </i>
            </a>

          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Links -->


  </footer>
  <!-- Footer -->






  </body>


</html>
